modules = ["go-1.21", "web"]
run = "go build -o bin/main . && ./bin/main"
onBoot = "task setup"

[nix]
channel = "stable-25_05"
packages = ["go-migrate", "jq", "go-task"]

[env]
PATH = "$PATH:/your/custom/directory"

[deployment]
run = ["sh", "-c", "go build -o bin/main && ./bin/main"]
