@font-face {
  font-family: "Teachers";
  src: url("/assets/fonts/Teachers/Teachers-VariableFont_wght.ttf")
    format("truetype supports variations")
    url("/assets/fonts/Teachers/Teachers-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 400 800;
}
@font-face {
  font-family: "Teachers";
  src: url("/assets/fonts/Teachers/Teachers-Italic-VariableFont_wght.ttf")
    format("truetype supports variations")
    url("/assets/fonts/Teachers/Teachers-Italic-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 400 800;
  font-style: italic;
}

:root {
  --font-fallback: Roboto, Arial, Helvetica, "Helvetica Neue", sans-serif;
  --teachers-font: Teachers, var(--font-fallback);
}

body {
  font-family: var(--teachers-font);
}

h2 {
  margin: 1rem auto;
  font-size: 2.2rem;
  font-weight: 500;
}

.desc {
  font-style: italic;
}

#search > div {
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  display: flex;
}

#search {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

#search input {
  min-width: 300px;
  max-width: 500px;
  margin: auto;
}

#search button {
  margin: 1rem auto;
  min-width: 180px;
  max-width: 300px;
  font-weight: bold;
}
