{{ template "head" }}
{{ template "header" }}
<form action="/horses" method="post" enctype="multipart/form-data">
  <label for="name">Name<span style="color: red">*</span>:</label>
  <input type="text" id="name" name="name" required /><br /><br />

  <label for="description">Description:</label>
  <textarea id="description" name="description"></textarea><br /><br />

  <label for="date_of_birth"
    >Date of Birth<span style="color: red">*</span>:</label
  >
  <input
    type="date"
    id="date_of_birth"
    name="date_of_birth"
    required
  /><br /><br />

  <label for="gender">Gender<span style="color: red">*</span>:</label>
  <select id="gender" name="gender" required>
    <option value="">--Select--</option>
    <option value="1">Stallion</option>
    <option value="2">Gelding</option>
    <option value="3">Mare</option></select
  ><br /><br />

  <label for="images">Images:</label>
  <input
    type="file"
    id="images"
    name="images"
    multiple
    accept="image/*"
  /><br /><br />

  <button type="submit">Create Horse</button>
</form>
{{ template "end" }}