{{ template "head" }}
<script>
	let slideIndex = 0
	let prevSlideIndex = -1
	document.addEventListener("DOMContentLoaded", e => {
		showSlide(slideIndex)
	})

	function showSlide(idx = 0) {
		const slides = document.getElementsByClassName("slide")
		const thumbnails = document.getElementsByClassName("thumb")
		const lastIdx = slides.length - 1
		const prevIdx = slideIndex
		if (idx > lastIdx) {
			slideIndex = 0
		} else if (idx < 0) {
			slideIndex = lastIdx
		} else {
			slideIndex = idx
		}
		if (prevIdx != slideIndex) {
			prevSlideIndex = prevIdx
		}
		slides[prevSlideIndex]?.classList.remove("active-slide")
		slides[slideIndex].classList.add("active-slide")
		thumbnails[prevSlideIndex]?.classList.remove("active-thumb")
		thumbnails[slideIndex].classList.add("active-thumb")
		// TODO: if thumbnails[slideIndex] is not scrolled into view,
		// scroll horizontally to get it in view
	}

	function nextSlide(n = 1) {
		showSlide(slideIndex + n)
	}

	function setSlide(n = 0) {
		showSlide(n)
	}
</script>
{{ template "header" }}
<main>
	<h1>{{ .Name }}</h1>
	<div class="gallery">
		{{ range $img := .Images }}
		<div class="slide">
			<img src="{{ $img.Full }}" alt="{{ $img.Alt }}">
		</div>
		{{ end }}
		<div class="arrows">
			<a class="prev" onclick="nextSlide(-1)">
				<p>&#x279C;</p>
			</a>
			<a class="next" onclick="nextSlide(1)">&#x279C;</a>
		</div>
		<div class="thumbs">
			{{ range $idx, $img := .Images }}
			<div class="thumb">
				<!-- TODO: enable click events on thumbnails -->
				<img src="{{ $img.Thumbnail }}" alt="{{ $img.Alt }}" onclick="setSlide('{{ $idx }}')">
			</div>
			{{ end }}
		</div>
	</div>
</main>
{{ template "end" }}